@import url('https://fonts.googleapis.com/css?family=Charmonman');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
	--snow-white: #EFEFF9;
	--ice-blue: #AAE2FF;
	--evergreen: #1E8554;
	--cold-green: #72D463;
	--wood-brown: #693912;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--snow-white);
}

#page-head h1 {
	font-family: "Charmonman", cursive;
	color: var(--evergreen);
}

#page-head {
	padding: 0.5em;
	background-color: var(--ice-blue);
	border-bottom: 2px solid var(--wood-brown);
}

@media (max-width: 534px) {

	#nav:before {
		margin-left: 0.1em;
		content: "Navigation";
		font-size: 1.2em;
		color: var(--evergreen);
		font-family: "Lato", sans-serif;
	}

	#nav {
		width: 6em;
		transition: 0.5s;
		height: 1.5em;
		overflow: hidden;
		border: 2px solid var(--wood-brown);
		border-radius: 5px;
	}

	#nav li {
		margin-left: 0.1em;
		display: block;
	}

	#nav:hover {
		transition: 0.5s;
		height: 7.2em;
		width: 8.5em;
	}

	#forest {
		width: 90%;
	}

	#concept1 {
		display: none;
	}

	#concept2 {
		display: none;
	}

	#concept1small {
		width: 90%;
	}

	#concept2small {
		width: 90%;
	}
}

@media (min-width: 534px) {

	#page-head {
		text-align: center;
	}

	#page-head h1 {
		font-size: 2.5em;
	}

	#nav {
		width: 100%;
		padding: 2px;
	}

	#nav li {
		display: inline-block;
		margin: 0em 1em 0em 1em;
		padding: 1px 3px;
		border: 1px solid var(--wood-brown);
		border-radius: 5px;
	}

	#nav li.current {
		border: 2px solid var(--wood-brown);
	}

	#nav li:hover {
		background-color: var(--cold-green);
	}

	#forest {
		width: 50%;
	}

	#concept1 {
		width: 80%;
	}

	#concept2 {
		width: 80%;
	}

	#concept1small {
		display: none;
	}

	#concept2small {
		display: none;
	}
}

#nav a {
	font-size: 1.2em;
	color: var(--evergreen);
	text-decoration: none;
	font-family: "Lato", sans-serif;
}

main {
	padding: 1em 12%;
}

main h1 {
	text-align: center;
	font-family: "Charmonman", cursive;
}

main section {
	margin: 1em 0em;
	padding: 1em 0em;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

main h2 {
	font-family: "Lato", sans-serif;
	text-align: center;
}

main p {
	font-family: "Open Sans", sans-serif;
}

#page-foot {
	font-size: 1.1em;
	font-family: "Lato", sans-serif;
	color: var(--evergreen);
	padding: 1em 4%;
	background-color: var(--ice-blue);
	border-top: 2px solid var(--wood-brown);
}

#page-foot a {
	text-decoration: none;
	color: var(--evergreen);
}

#page-foot a:hover {
	color: var(--cold-green);
}

#page-foot p {
	float: right;
}